.curved-loop-jacket {
  /* min-height: 100vh; Removed to allow fitting in sections */
  width: 100%;
  pointer-events: none; /* Ensure it doesn't block clicks by default */
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 6rem;
  fill: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
